*
{
	background-color: #f5f8f6;
	color: #000036;
	font-family: Ryman Eco, Arial, sans-serif;
}

div, a
{
	background-color: transparent;
}

h1
{
	font-size: x-large;
	font-weight: bold;
}

p, ul
{
	line-height: 30px;
	font-size: medium;
}

.announcement
{
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

.transition
{
	font-size: x-large;
	text-align: center;
}

.sources
{
	font-size: small;
}

strong
{
	font-weight: bold;
	background-color: transparent;
}

section
{
	width: 60%;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 20px auto;
	margin-bottom: 100px;
	margin-top: 50px;
}

.why
{
	width: 90%;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 20px auto;
	margin-bottom: 100px;
	border: none;
}

.what
{
	border-top: 3px solid;
	border-color: #b7fe7a;
	padding-top: 40px;
}

article
{
	width: 100%;
	padding: 10px;
	margin: 20px auto;
	padding-top: 85px;
	text-align: center;
	height: 120px;
	font-size: 50px;
	white-space: nowrap;
	background-color: #b7fe7a;
}

header
{
	position: fixed;
	width: 100%;
	top: 0px;
	border-bottom: 1px solid;
	border-color: #000036;
	height: 180px;
}

.first
{
	margin-top: 180px;
	background-color: transparent;
}

mark
{
	background-color: #b7fe7a;
	padding: 20px;
}

#top
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	text-align: center;
	align-items: center;
	margin-bottom: 50px;
	margin-right: 40px;
	white-space: nowrap;
}

.asso
{
	font-size: medium;
	text-align: left;
}

.description
{
	font-size: small;
}

.slogan
{
	font-size: 50px;
	text-align: center;
}

.table
{
	font-size: medium;
	text-align: left;
	margin-left: 300px;
}

.site
{
	border: 1px solid;
	border-color: #000036;
	padding: 10px;
	margin-left: 300px;
}

#bottom
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	white-space: nowrap;
	align-items: center;
	height: 50px;
	margin-right: 40px;
	margin-left: 40px;
	font-size: medium;
	background-color: #b7fe7a;
}

footer
{
	border-top: 1px solid;
	border-color: #000036;
	background-color: #b7fe7a;
}

.mentions, .privacy
{
	margin-top: 230px;
	margin-bottom: 50px; 
	text-align: center;
}

.image
{
	float: left;
	margin-right: 50px;
	margin-left: 20px;
}

h2
{
	font-size: large;
}

#actu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 60%;
	margin: 20px auto;
	margin-top: 50px;
}

.actu
{
	border: 1px solid;
	border-color: #000036;
	padding: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 500px;
}